/*
 * arch/arm64/boot/dts/tegra210-loki-e-p2530-common.dtsi
 *
 * Copyright (c) 2015-2020, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */
#include <dt-bindings/types.h>
/dts-v1/;

/memreserve/ 0x80000000 0x00020000;

#include <t210-common-platforms/tegra210-common.dtsi>
#include <tegra210-soc/tegra210-sdhci.dtsi>
#include <t210-common-platforms/tegra210-p2530-common.dtsi>
#include "foster-platforms/tegra210-loki-e-prods.dtsi"
#include "foster-platforms/tegra210-loki-power-tree-p2530-0999-e00.dtsi"
#include "foster-platforms/tegra210-loki-e-gpio-p2530-0032-e00.dtsi"
#include "foster-platforms/tegra210-loki-e-pinmux-p2530-0032-e00.dtsi"
#include "foster-platforms/tegra210-loki-e-comms.dtsi"
#include "foster-platforms/tegra210-loki-e-pwm-fan.dtsi"
#include <t210-common-platforms/tegra210-ers-hdmi-e2190-1100-a00.dtsi>
#include <t210-common-platforms/tegra210-ers-touch-e1937-1000-a00.dtsi>
#include <t210-common-platforms/tegra210-platform-common-sensor.dtsi>
#include "foster-platforms/tegra210-loki-e-thermal-fan-est.dtsi"
#include "foster-platforms/tegra210-loki-e-camera-p2530-0032-e00.dtsi"
#include "foster-platforms/tegra210-loki-e-keys-p2530-0032-e00.dtsi"
#include "foster-platforms/tegra210-loki-maxim-charger.dtsi"
#include "foster-platforms/tegra210-loki-e-powermon.dtsi"
#include <tegra210-soc/tegra210-audio.dtsi>
#include "foster-platforms/tegra210-loki-e-gamepad-reset.dtsi"
#include "foster-platforms/tegra210-loki-e-c2port.dtsi"
#include "foster-platforms/tegra210-loki-e-cpufreq.dtsi"
#include <audio/tegra210-audio-dai-links.dtsi>

/ {
	compatible = "nvidia,loki-e", "nvidia,tegra210";
	nvidia,fastboot-usb-pid = <0xb420>;

	firmware {
		android {
			compatible = "android,firmware";
			hardware = "loki_e";
			first_stage_delay = "1";
			system_root_blkdev = "/dev/mmcblk0p19";
			fstab {
				compatible = "android,fstab";
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/sdhci-tegra.3/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro,noatime";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	bpmp {
		status = "okay";
	};

	cpus {
		idle-states {
			c7 {
				arm,psci-suspend-param = <0x00010007>;
			};

			cc6 {
				arm,psci-suspend-param = <0x01010010>;
			};
		};
	};

	psci {
		compatible = "arm,psci-0.2";
	};

	pmc@7000e400 {
		/delete-property/ nvidia,secure-pmc;
		nvidia,restrict-voltage-switch;
		iopad-defaults {
			audio-hv-pads {
				pins = "audio-hv";
				nvidia,power-source-voltage = <TEGRA_IO_PAD_VOLTAGE_1800000UV>;
			};

			spi-hv-pads {
				pins = "spi-hv";
				nvidia,power-source-voltage = <TEGRA_IO_PAD_VOLTAGE_1800000UV>;
			};

			gpio-pads {
				pins = "gpio";
				nvidia,power-source-voltage = <TEGRA_IO_PAD_VOLTAGE_1800000UV>;
			};

			sdmmc-io-pads {
				pins = "sdmmc1", "sdmmc3";
				nvidia,enable-voltage-switching;
			};
		};
	};

	i2c@7000c500 {
		/delete-node/ battery-charger@6b;

		bq2419x: bq24193@6b {
			compatible = "ti,bq24193";
			reg = <0x6b>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(Z, 0) IRQ_TYPE_NONE>;
			monitored-battery = <&bat>;
			#extcon-cells = <1>;

			omit-battery-class;

			battery_charger: charger {
				regulator-name = "batt_regulator";
				regulator-max-microamp = <3000000>;
			};

			usb0_vbus: usb-otg-vbus {
				regulator-name = "vbus_regulator";
			};
		};

		bat: battery-gauge@55 {
			power-supplies = <&bq2419x>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(V, 3) 0x0>;
			dt-override-status-odm-data = <0x00C00000 0x00400000>;
			ti,full-charge-capacity = <6500>;
		};
	};

	i2c@7000c400 {
		ads1015: ads1015@4a {
			reg = <0x4a>;
			compatible = "ads1015";
			#io-channel-cells = <1>;
		};
	};

	spi@7000d400 {
		status = "okay";
		earSmart: earSmart-codec@0 {
			compatible = "adnc,earSmart-codec";
			reg = <0>;
			spi-max-frequency = <6000000>;
			spi-cpha;

			adnc,reset-gpio = <&gpio TEGRA_GPIO(BB, 3) GPIO_ACTIVE_HIGH>;
			adnc,gpiob-gpio = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;
			adnc,wakeup-gpio = <&gpio TEGRA_GPIO(K, 2) GPIO_ACTIVE_HIGH>;

			adnc,int-gpio = <(-1)>;
			adnc,gpioa-gpio = <(-1)>;
			adnc,enable_hs_uart_intf = <0>;
			adnc,ext_clk_rate = <0>;
			adnc,debounce_timer = <3>;
			adnc,plug_det_enabled = <1>;
			adnc,mic_det_enabled = <1>;

			adnc,gpio_b_irq_type = <4>;
			adnc,cmd_comp_mode = <0>;

			/* Button Control 1 */
			adnc,btn_press_settling_time = <4>;
			adnc,btn_press_polling_rate = <1>;
			adnc,btn_press_det_act = <1>;

			/* Button Control 2 */
			adnc,double_btn_timer = <(-1)>;
			adnc,mic_det_settling_timer = <(-1)>;

			/* Button Control 3 */
			adnc,long_btn_timer = <(-1)>;
			adnc,adc_btn_mute = <(-1)>;

			/* Button Control 4 */
			adnc,valid_levels = <31>;
			adnc,impd_det_timer = <0>;

			/* FW name */
			adnc,fw_filename = "audience/es755/audience-es755-fw_loki.bin";
			adnc,vs_filename = "audience/es755/audience-es755-vs_loki.bin";

			#sound-dai-cells = <1>;
		};
	};

	ahub {
		i2s@702d1100 {
			pinctrl-names = "dap_active", "dap_inactive";
			pinctrl-0 = <>;
			pinctrl-1 = <>;
			regulator-supplies = "vdd-1v8-spi-hv", "vdd-1v8-spi-hv-bias";
			vdd-1v8-spi-hv-supply = <&max77620_sd3>;
			vdd-1v8-spi-hv-bias-supply = <&max77620_sd3>;
			bclk-ratio = <4>;
		};
	};

	sound {
		compatible = "nvidia,tegra210-ape";
		nvidia-audio-card,name = "NVIDIA SHIELD Portable APE";
		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(E, 6) GPIO_ACTIVE_HIGH>;

		clocks = <&tegra_car TEGRA210_CLK_PLL_A>,
			 <&tegra_car TEGRA210_CLK_PLL_A_OUT0>,
			 <&tegra_car TEGRA210_CLK_EXTERN1>;
		clock-names = "pll_a", "pll_a_out0", "extern1";
		assigned-clocks = <&tegra_car TEGRA210_CLK_EXTERN1>;
		assigned-clock-parents = <&tegra_car TEGRA210_CLK_PLL_A_OUT0>;

		nvidia-audio-card,widgets =
			"Speaker",	"Int Spk";

		nvidia-audio-card,routing =
			"Int Spk",	"SPKRL",
			"Int Spk",	"SPKRR";
	};

	adsp_audio {
		compr-ops = <1>;
		num-plugin = <5>;
		plugin-info-1 {
			plugin-name = "mp3-dec1";
			firmware-name = "nvmp3dec.elf";
			widget-name = "MP3-DEC1";
		};
		plugin-info-2 {
			plugin-name = "spkprot";
			firmware-name = "nvspkprot.elf";
			widget-name = "SPKPROT-SW";
		};
		plugin-info-3 {
			plugin-name = "src";
			firmware-name = "nvsrc.elf";
			widget-name = "SRC";
		};
		plugin-info-4 {
			plugin-name = "aac-dec1";
			firmware-name = "nvaacdec.elf";
			widget-name = "AAC-DEC1";
		};
		plugin-info-5 {
			plugin-name = "aec";
			firmware-name = "libnvaecfx.elf";
			widget-name = "AEC";
			param-type = <2>; /* SNDRV_CTL_ELEM_TYPE_INTEGER */
		};
	};

	extcon {
		extcon@0 {
			status = "disabled";
		};
	};

	chosen {
		nvidia,tegra-shield-sku;
        };

	camera-pcl {
		profiles {
			ov7695@6_0021 {
				use_of_node = "yes";
				vana-supply = <&max77620_ldo3>;
				vif2-supply = <&en_vdd_cam>;
				cam1-gpio = <&gpio TEGRA_GPIO(S, 7) 0>;
			};
		};
	};

	/* Put common control config here */
	xusb_padctl@7009f000 {
		status = "okay";

		pads {
			usb2 {
				status = "okay";

				lanes {
					usb2-0 {
						status = "okay";
						nvidia,function = "xusb";
					};
				};
			};

			pcie {
				status = "okay";

				lanes {
					pcie-5 {
						status = "okay";
						nvidia,function = "xusb";
					};
					pcie-6 {
						status = "okay";
						nvidia,function = "xusb";
					};
				};
			};
		};

		ports {
			usb2-0 {
				status = "okay";
				mode = "otg";
				nvidia,usb3-port-fake = <3>;
			};

			usb3-0 {
				nvidia,usb2-companion = <0>;
				status = "okay";
			};
		};
	};

	xusb@70090000 {
		phys = <&{/xusb_padctl@7009f000/pads/usb2/lanes/usb2-0}>,
				<&{/xusb_padctl@7009f000/pads/pcie/lanes/pcie-6}>;
		phy-names = "usb2-0", "usb3-0";
		nvidia,pmc-wakeup =
			<&tegra_pmc
				PMC_WAKE_TYPE_EVENT 39 PMC_TRIGGER_TYPE_HIGH>,
			<&tegra_pmc
				PMC_WAKE_TYPE_EVENT 40 PMC_TRIGGER_TYPE_HIGH>,
			<&tegra_pmc
				PMC_WAKE_TYPE_EVENT 41 PMC_TRIGGER_TYPE_HIGH>,
			<&tegra_pmc
				PMC_WAKE_TYPE_EVENT 42 PMC_TRIGGER_TYPE_HIGH>,
			<&tegra_pmc
				PMC_WAKE_TYPE_EVENT 44 PMC_TRIGGER_TYPE_HIGH>;
		extcon-cables = <&bq2419x 1>;
		extcon-cable-names = "id";
		#extcon-cells = <1>;
		status = "okay";
	};

	 xudc@700d0000 {
		phys =  <&{/xusb_padctl@7009f000/pads/usb2/lanes/usb2-0}>;
		phy-names = "usb2";
		charger-detector = <&tegra_usb_cd>;
		extcon-cables = <&bq2419x 0>;
		extcon-cable-names = "vbus";
				#extcon-cells = <1>;
		status = "okay";
		};

	tegra_usb_cd: usb_cd {
		reg = <0x0 0x7009f000 0x0 0x1000>;
		phys = <&{/xusb_padctl@7009f000/pads/usb2/lanes/usb2-0}>;
		phy-names = "otg-phy";
		status = "okay";
		nvidia,dcp-current-limit-ma = <2000>;
	};

	gpu-dvfs-rework {
		status = "disabled";
	};

	gpio@6000d000 {
		uart_over_jack {
			gpio-hog;
			output-high;
			gpios = <TEGRA_GPIO(DD, 0) 0>;
			label = "uart_over_jack";
			dt-override-status-odm-data = <0x80000000 0x80000000>;
			status = "disabled";
		};
	};

	camera-pcl {
		dpd {
			default-enable;
		};
	};

	bcmdhd_wlan {
		fw_path = "/vendor/firmware/fw_bcmdhd.bin";
		nv_path = "/vendor/firmware/nvram_loki_e_4354.txt";
		tuned_nv_path = "/vendor/firmware/nvram_loki_e_antenna_tuned_4354.txt";
		clm_blob_path = "/vendor/firmware/bcmdhd_clm_loki.blob";
		builtin-roam-disabled;
		country_code_map {
			CC1 {
				iso_abbrev = "XV";
				custom_locale = "XV";
				custom_locale_rev = <998>;
			};
			CC2 {
				iso_abbrev = "US";
				custom_locale = "Q2";
				custom_locale_rev = <113>;
			};
			CC3 {
				iso_abbrev = "CA";
				custom_locale = "Q2";
				custom_locale_rev = <113>;
			};
			CC4 {
				iso_abbrev = "AT";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC5 {
				iso_abbrev = "BE";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC6 {
				iso_abbrev = "BG";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC7 {
				iso_abbrev = "HR";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC8 {
				iso_abbrev = "CZ";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC9 {
				iso_abbrev = "DK";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC10 {
				iso_abbrev = "FR";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC11 {
				iso_abbrev = "DE";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC12 {
				iso_abbrev = "GR";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC13 {
				iso_abbrev = "HU";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC14 {
				iso_abbrev = "IT";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC15 {
				iso_abbrev = "NL";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC16 {
				iso_abbrev = "NO";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC17 {
				iso_abbrev = "PL";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC18 {
				iso_abbrev = "PT";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC19 {
				iso_abbrev = "RO";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC20 {
				iso_abbrev = "SK";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC21 {
				iso_abbrev = "ES";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC22 {
				iso_abbrev = "SE";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC23 {
				iso_abbrev = "CH";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC24 {
				iso_abbrev = "GB";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC25 {
				iso_abbrev = "EU";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC26 {
				iso_abbrev = "E0";
				custom_locale = "E0";
				custom_locale_rev = <53>;
			};
			CC27 {
				iso_abbrev = "IN";
				custom_locale = "Q2";
				custom_locale_rev = <113>;
			};
		};
	};

	rollback-protection {
		status = "okay";
	};

	usb_nvshield_led {
		status = "okay";
		disable-on-kernel-charging;
	};

	serial@70006300 {
		dma-names = "tx";
	};

	host1x@50000000 {
		i2c@546c0000 {
			avdd_dsi_csi-supply = <&max77620_gpio7>;
			status = "okay";
		};
	};
};

&i2s1_to_codec {
	link-name = "earSmart-playback";
	codec {
		sound-dai = <&earSmart 0>;
		prefix = "x";
	};
};

&i2s2_to_codec {
	format = "dsp_a";
	bitclock-inversion;
};
